@font-face {
    font-family: 'ITC Garamond';
    src: url(../fonts/font.woff);
    src: url(../fonts/font.woff2);
}

@font-face {
    font-family: 'ABC Diatype-Light';
    src: url(../fonts/ABCDiatype-Light.woff);
    src: url(../fonts/ABCDiatype-Light.woff2);
}

@font-face {
    font-family: 'ITC Garamond Italic';
    src: url(../fonts/font-italic.woff);
    src: url(../fonts/font-italic.woff2);
}

body{
    margin: 0px;
    font-family: 'ITC Garamond';
    font-size: 2.5rem;
    font-weight: 100;
}

h1{
    font-size: 170px;
    font-family: 'ITC Garamond';
    margin: 0px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}

a {
    color: black;
}


ul{
    margin: 50px;
}

em{
    font-family: 'ITC Garamond Italic';
}

li{
    font-family: 'ABC Diatype-Light';
    font-size: 40px;
}

p{
    font-family: 'ITC Garamond';
    font-size: 40px;
    font-weight: 100;
}

code{
    background-color: #dedcdc;
    padding: 3px 7px;
    font-size: 2rem;
}

pre{
    margin: 50px;
}

.slide-item{
    height: 100%;
    margin-bottom: 500px;
}

.slide-content{
    height: 100%;
}

.cover{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #B866EB;
}

.cover > .slide-item{
    margin: 0px 0px 500px 0px;
}

.cover > .slide-content{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover h1{
    font-size: 150px;
    font-family: 'ITC Garamond';
    font-weight: 100;
    margin: 50px;
}

.table-of-contents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table-of-contents > .slide-item{
    margin: 0px 0px 500px 0px;
}

.table-of-contents > .slide-content{
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.table-of-contents a{
    padding: 10px;
    color: black;
    text-decoration: none;
    border: .5px black solid;
    border-radius: 5px;
}

.table-of-contents a:hover{
    background-color: black;
    color: white;
    transition: .25s;
}

.table-of-contents h1{
    font-size: 150px;
    font-family: 'ITC Garamond';
    font-weight: 100;
    margin: 50px;
    line-height: .95em;
}

.table-of-contents ol{
    list-style: none;
}

.table-of-contents li{
    font-family: 'ABC Diatype-Light';
    font-size: 40px;
    line-height: 2em;
    font-weight: 100;
}

.bumper{
    background-color: black;
    color: white;
    border-radius: 40px;
    border: white solid 10px;
}

.bumper > .slide-item{
    margin: 0px 0px 500px 0px;
}

.bumper > .slide-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bumper p{
        font-family: 'ABC Diatype-Light';
        font-size: 50px;
        font-weight: 100;
        margin: 0px;
}

.single-col-text{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
}

.single-col-text > .slide-item{
    margin: 0px 0px 500px 0px;
}

.single-col-text > .slide-content {
    grid-column: 1 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.single-col-text h1{
    padding-top: 50px;
    font-size: 80px;
}

.single-col-text div{
    padding-bottom: 50px;
}

.double-col-text-image{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.double-col-text-image > .slide-item{
    margin: 0px 0px 500px 0px;
}

.double-col-text-image > .slide-content {
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.double-col-text-image h1{
    font-size: 80px;
    margin: 50px;
}

.double-col-text-image p{
    margin: 50px;
}

.half-page-text h1{
    margin: 50px;
}

.half-page-text p{
    margin: 50px;
}

.half-page-text div{
    margin: 50px;
}
.double-col-text-image > .half-page-image{
    grid-column: 7 / 13;
    height: 100vh;
    background-size: cover;
}

.double-col-text-image > .half-page-output{
    grid-column: 7 / 13;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.half-page-output{
    border-radius: 20px;
    border: white solid 10px;
}

.half-page-output a:hover{
    color:azure;
}

.half-page-output a{
    color: lime;
    text-decoration: none;
}

.summary > .slide-content{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.summary {
    margin-bottom: 0px;
}

.message{
    grid-column: 1 / 6;
    margin: 50px;
}
.completed{
    grid-column: 7 / 12;
    margin: 50px;
}
.summary p{
    font-family: 'ABC Diatype-Light';
    font-size: 24px;
    font-weight: 100;
    margin: 0px;
}

.summary li{
    font-family: 'ABC Diatype-Light';
    font-size: 55px;
}

#red {
    color: red;
}

#pink {
    color: pink;
}

#swan {
    position: relative;
    top: -800px;
    left: 1350px;
}

#swans {
    display: none;
}

#swan:hover +  #swans {
    display: block;
}

#swan1{
    position: relative;
    top: -600px;
    left: 80px;
}

#swan2{
    position: relative;
    top: -1500px;
    left: 890px;
}

#swan3{
    position: relative;
    top: -1500px;
    left: 200px;
}

#swan4{
    position: relative;
    top: -1400px;
    left: 700px;
}


.normal-container{
    display: block;
}

.normal-item{
    width: 200px;
    height: 100px;
    margin: 10px 0px;
    background-color: pink;
}

.flex-container{
    display: flex;
}

#flex-item{
    width: 200px;
    height: 100px;
    background-color: pink;
    margin-right: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    grid-template-rows: 100px 100px;
}
td{
    color: black;
}
.box-model {
    width: 800px;
}

.title{
    margin: 0px;
}

div.margin {
    background-color: pink;
    width: 900px;
    height: 850px;
    padding: 20px;
  }
  
  div.border {
    height: 500px;
    margin: 0px 80px;
    padding: 20px;
  }
  
  div.padding {
    border:solid black 20px;
    background-color: red;
    height: 500px;
    width: 600px;
    padding: 20px;
  }
  
  div.content {
    background-color: crimson;
    height: 300px;
    width: 400px;
    margin: 30px 75px;
    padding: 20px;
  }

  .back {
    font-family: 'ABC Diatype-Light';
    text-decoration: none;
    width: 100vw;
    text-align: center;
    margin: 600px 0px 200px 0px;
}

.back a{
    text-decoration: none;
    font-size: 70px;
}

.back a:hover {
    text-decoration: underline;
}